<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:property-placeholder location="classpath:redis.properties" />
	<context:component-scan base-package="cn.cjp.redis.dao,cn.cjp.spider.**" />
	
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${redis.maxTotal}"></property>
		<property name="maxIdle" value="${redis.maxIdle}"></property>
		<property name="minIdle" value="${redis.minIdle}"></property>
		<property name="maxWaitMillis" value="${redis.maxWaitMillis}"></property>
		<property name="testOnBorrow" value="${redis.testOnBorrow}"></property>
		<property name="testOnReturn" value="${redis.testOnReturn}"></property>
		<property name="testWhileIdle" value="${redis.testWhileIdle}"></property>
	</bean>

	<bean id="jedisPool" class="redis.clients.jedis.JedisPool"
		destroy-method="destroy">
		<constructor-arg
			type="org.apache.commons.pool2.impl.GenericObjectPoolConfig" ref="jedisPoolConfig" />
		<constructor-arg type="java.lang.String" value="${redis.host}" />
		<constructor-arg type="int" value="${redis.port}" />
		<constructor-arg type="int" value="${redis.timeout}" />
		<constructor-arg type="java.lang.String" value="${redis.password}" />
		<constructor-arg type="int" value="${redis.database}" />
		<constructor-arg type="java.lang.String" value="${redis.clientName}" />

	</bean>	
	

</beans>